*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}
h1,h2,h3,h4,h5,h6,.nav-link{
  font-family: 'Proza Libre', sans-serif;
}
p,a,span,strong,ul,ol,.btn,.btn-primary,.form-control,label,::placeholder,.col-form-label,.form-check-label,.dropdown-item,table,tr,td{
  font-family: 'Open Sans', sans-serif;
}
/* ===============================================================================================
                                           Sub Icon Part Css
================================================================================================= */
.sub-icon{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 99999;
}
.sub-icon a i{
  color: #fff;
  background: #28a745;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #fff;
}

/* ===============================================================================================
                                          Sub Navbar Part Css
================================================================================================= */
#sub-navbar{
  background: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 20px;
}
.sub-navbar-title{
  text-align: center;
}
.sub-navbar-title h1{
  color: #01a3a4;
  font-size: 16px;
  font-weight: 600;
}
.sub-navbar-title p{
  color: #28a745;
  font-size: 38px;
  font-weight: 700;
  font-family: 'Proza Libre', sans-serif;
}
.sub-navbar-title img{
  position: relative;
  left: -12px;
}
.sub-nav-btn .btn{
  background: #c8d6e5;
  color: #222f3e;
  border-color: #c8d6e5;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: all linear .3s;
}
.sub-nav-btn .btn:hover{
  background: #28a745;
  color: #fff;
}
.mr7{
  position: relative;
  top: -12px;
}

/* ===============================================================================================
                                            Navbar Part Css
================================================================================================= */
.navbar{
  background: #6c5ce7;
  padding: 20px 0;
}
.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: all linear .3s;
  position: relative;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 50%;
  transition: all linear .3s;
  opacity: 0;
}
.navbar-light .navbar-nav .nav-link:hover::before{
  opacity: 1;
  bottom: -5px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus{
  color: #ffffff;
}
.form-inline .form-control{
  width: 210px;
  border-radius: 0;
  border: 0;
  height: calc(2.9rem + 2px);
}
.form-control:focus{
  box-shadow: none;
}
.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: none;
}
.mr5{
  border-radius: 0;
  border: 1px solid rgba(255,255,255);
  background: rgba(255,255,255);
  padding: 11px 18px;
  height: calc(2.9rem + 2px);
  background: #28a745;
  color: #fff;
  border-color: #28a745;
}
.dropdown-item{
  position: relative;
  color: #2c2c54;
  font-size: 18px;
  font-weight: 500;
}
.dropdown-item::before{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 12px;
  right: 10px;
  background: #218c74;
  opacity: 0;
  transition: all linear .3s;
}
.dropdown-item:hover::before{
  opacity: 1;
}
.menu-bg{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -webkit-animation: navbar-animation 0.8s;
  animation: navbar-animation 0.8s;
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* =============================================================================================
                                          Banner Part Css 
===============================================================================================*/
#banner{
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
}
#banner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}
.banner-bg{
  position: relative;
  z-index: 9;
}
.banner-bg2{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.banner-details h1{
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
}
.banner-details a{
  color: #ffffff;
  border: 2px solid #28a745;
  padding: 12px 18px;
  font-size: 18px;
  font-weight: 600;
  background: #28a745;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: 2px 1px 5px 0px rgba(255,255,255,1);
  box-shadow: 2px 1px 5px 0px rgba(255,255,255,1);
}

/* ==============================================================================================
                                        Publish Part Css
=============================================================================================== */
#publish{
  padding-top: 40px;
  padding-bottom: 10px;
  background: #f9f9f9;
}
.publish-title h6{
  color: #487eb0;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.publish-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  height: 100%;
  border: 1px solid rgba(108, 92, 231,0.15);
}
.publish-content i{
  color: #6c5ce7;
  font-size: 50px;
  margin-bottom: 30px;
}
.publish-content h6{
  color: #2f3542;
  font-size: 24px;
  font-weight: 500;
}
.publish-content p{
  color: #718093;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 15px;
}
/* ==============================================================================================
                                          About Part Css
================================================================================================= */
#about{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.articles{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.articles h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #34495e;
  font-size: 16px;
  font-weight: 500;
  background: #f9f9f9;
}
.nav-tabs .nav-link{
  color: #28a745;
  font-weight: 500;
}
.article-content{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dee2e6;
}
.article-content a h5{
  color: #2c2c54;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.article-content p i{
  color: #28a745;
  font-size: 18px;
  margin-right: 10px;
}
.article-content p a{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  transition: all linear .3s;
  line-height: 26px;
}
.article-content p a:hover{
  color: #28a745;
}
.article-content span{
  color: #666666;
}
.view{
  margin-top: 10px;
}
.view a{
  color: #555555;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
}
.view a i{
  color: #28a745;
  margin-right: 5px;
}
.link{
  background: #ffffff;
  padding: 15px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  margin-bottom: 40px;
}
.link h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.link ul li{
  font-weight: 500;
  font-size: 16px;
  transition: all linear .3s;
  padding-bottom: 5px;
}
.link ul li:hover{
  transform: translateX(5px);
}
.link ul li a{
  color: #28a745;
}
.link ul li a i{
  color: #e58e26;
  margin-right: 5px;
}
.other-journal{
  background: #ffffff;
  padding: 15px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  margin-bottom: 40px;
  border: 1px solid rgba(108, 92, 231,0.15);
}
.other-journal h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.mr2{
  margin-top: 20px;
}
.ad{
  background: #ffffff;
  padding: 90px 0px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.ad h6{
  font-size: 30px;
  color: #666666;
}
.mr3{
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 24px;
  font-style: italic;
}
.research-article span{
  font-size: 16px;
  margin-right: 15px;
  font-weight: 600;
}

/* ================================================================================================
                                         Footer Contact Part Css
=================================================================================================== */
#footer-contact{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.get h6{
  color: #28a745;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
/* .get h5{
  color: #e58e26;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #e58e26;
  display: inline-block;
} */
.get p{
  color: #34495e;
  font-weight: 500;
  margin-right: 70px;
  font-size: 16px;
}
.get p i{
  color: #6c5ce7;
  font-size: 16px;
  margin-right: 8px;
}
.get ul li{
  margin-bottom: 10px;
  transition: all linear .3s;
}
.get ul li a{
  color: #34495e;
  font-size: 16px;
  font-weight: 500;
  transition: all linear .3s;
}
.get ul li:hover{
  transform: translateX(5px);
}
.get ul li a:hover{
  color: #28a745;
}
.get ul li a i{
  color: #6c5ce7;
  font-size: 16px;
  margin-right: 8px;
}
/* =================================================================================================
                                              Footer Part Css
==================================================================================================== */
#footer{
  background: #6c5ce7;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-content h6{
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
}

/* ===============================================================================================
                                           Back to Top Part Css
=================================================================================================== */
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  display: none;
  background: #28a745;
  text-align: center;
  border-radius: 3px;
  padding: 10px 15px;
}
.back-to-top i{
  color: #f5f5f5;
  font-size: 18px;
}
.back-to-top p{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
/* ==================================================================================================
                                          Contact Us Part Css
===================================================================================================== */
#contact{
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.contact-bg h6{
  color: #487eb0;
  font-size: 40px;
  font-weight: 600;
}
.contact-bg p{
  color: #555555;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
/* ==================================================================================================
                                           Contact Details Part Css
===================================================================================================== */
#contact-details{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.contact-us{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border-radius: 5px;
}
.contact-us h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.contact-us p{
  color: #2f3542;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin-top: 15px;
}
.form label{
  font-size: 16px;
  font-weight: 600;
  color: #28a745;
}
.form .form-control{
  color: #666666;
}
.form .form-control:focus{
  box-shadow: none;
  border-color: #28a745;
}
.form .btn{
  border-radius: 5px;
  background: #28a745;
  border-color: #28a745;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.address{
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.address h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.add-details{
  margin-left: 20px;
}
.add-details p{
  color: #444444;
  font-size: 16px;
}
.add-details p i{
  color: #28a745;
  margin-right: 10px;
}
.address span{
  color: #444444;
  margin-left: 15px;
}
/* ===================================================================================================
                                          Login / Register Part Css
====================================================================================================== */
#login-register{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.login-register-bg{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border-radius: 5px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.login-register-bg h6{
  color: #555555;
  margin-bottom: 25px;
}
.login-register-bg h5{
  color: #ffffff;
  background: #295e6a;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.login-register-bg label{
  color: #28a745;
  font-weight: 600;
  font-size: 16px;
}
.login-register-bg .form-control:focus{
  border-color: #28a745;
}
.login-register-bg .btn{
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  background: #6c5ce7;
  border-color: #6c5ce7;
}
.login-register-bg .form-check-label{
  color: #34495e;
  font-size: 16px;
  font-weight: 600;
}
.mr6{
  display: none;
}
.mr6 h6{
  color: #487eb0;
  font-size: 24px;
  font-weight: 600;
}
.mr6 p{
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* ===================================================================================================
                                             Team Part Css
===================================================================================================== */
#team{
  padding-top: 40px;
  padding-bottom: 10px;
  background: #f9f9f9;
}
.single-team{
  background-color: #ffffff;
  margin-bottom: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.single-team:hover .social{
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.img-area{
  overflow: hidden;
  position: relative;
}
.img-area img{
  width: 100%;
}
.img-area:hover img{
  transform: scale(1.2)
}
.img-area img{
  transition: all 0.4s ease 0s;
}
@media (max-width: 768px){
  .img-area img{
      display: inline-block;
  }
}
.img-area .social{
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: .5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
.img-area .social ul{
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.img-area .social ul li a{
  border: 1px solid #dee2e6;
  color: #2f3542;
  background: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.img-area .social ul li a:hover{
  background-color: #6c5ce7;
  color: #ffffff;
  border: 1px solid transparent;
}
.img-text{
  padding: 25px;
  text-align: center;
  border-top: 1px solid rgb(108, 92, 231,0.2);
}
.img-text h4{
  margin: 0 0 5px;
  font-size: 20px;
  color: #6c5ce7;
  font-weight: 500;
}
.img-text h5{
  font-size: 17px;
  color: #2f3542;
  font-weight: 400;
}

/* ===================================================================================================
                                             About Part Css
====================================================================================================== */
#about{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.about-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.about-content h6{
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  background: #295e6a;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.about-content p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  margin-bottom: 30px;
}
.about-content ul{
  margin-left: 30px;
}
.about-content ul li{
  color: #2f3542;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  transition: all linear .3s;
}
.about-content ul li:hover{
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  margin-left: 10px;
}
.about-content ul li i{
  color: #487eb0;
  margin-right: 8px;
}

/* ===================================================================================================
                                                Mission Part Css
====================================================================================================== */
#mission{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.mission-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.mission-content h6{
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  background: #295e6a;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.mission-content p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
}
/* ===================================================================================================
                                             Submit Paper Part Css
===================================================================================================== */
#submit{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
/* ==================================================================================================
                                             Editorial Board Part Css
===================================================================================================== */
#editorial-board{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.editorial-boards{
  background: #ffffff;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.editorial-boards h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.editorial-details{
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 25px 0;
}
.editorial-details img{
  border: 10px solid #ffffff;
}
.editorial-boards h5{
  color: #e58e26;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.editorial-boards span{
  color: #444444;
  font-size: 16px;
  font-weight: 400;
}
.editorial-boards a{
  color: #28a745;
  font-size: 16px;
  font-weight: 600;
}
/* =========================================================================================================
                                          Article Processing Charges Part Css
=========================================================================================================== */
#charges{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.charges-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.charges-content h6{
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  background: #295e6a;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.charges-content p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
}
.charges-content table tr td{
  color: #2c2c54;
  font-size: 18px;
  font-weight: 400;
}
.charges-content h5{
  color: #666666;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}

/* ==========================================================================================================
                                                  Feedback Part Css
============================================================================================================= */
#feedback{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.feedback-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.feedback-item{
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.feedback-item p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  line-height: 26px;
}
.feedback-item h6{
  color: #6c5ce7;
  font-size: 18px;
  font-weight: 500;
}
.feedback-item span{
  color: #487eb0;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
.icon i{
  color: #6c5ce7;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}
/* =========================================================================================================
                                           Article Details Part Css
============================================================================================================ */
#article-details{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.article-details{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.article-details h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.abstract h5{
  color: #218c74;
  margin-top: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.abstract p{
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  margin-left: 15px;
}

/* ==========================================================================================================
                                                    More Part Css
============================================================================================================ */
#more{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.more-details{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05); 
}
.more-details h6{
  color: #999999;
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: uppercase;
  display: inline-block;
}
.open-access{
  color: #218c74;
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 5px 10px;
}

/* ============================================================================================================
                                              Resources Part Css
=============================================================================================================== */
#resources{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.resources-details{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05); 
  border: 1px solid rgba(108, 92, 231,0.15);
}
.resources-details .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #6c5ce7;
  color: #ffffff;
}
.resources-details .nav-pills .nav-link{
  color: #2c2c54;
  font-size: 18px;
  font-weight: 500;
}
.resources-content h5{
  color: #ffffff;
  font-weight: 500;
  background: #295e6a;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.resources-content h6{
  color: #28a745;
  letter-spacing: 1px;
  font-weight: 500;
}
.resources-content p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  margin-left: 30px;
}
.resources-content ul li{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  margin-left: 30px;  
}
.resources-content ul li i{
  color: #28a745;
  font-size: 10px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.mr4{
  height: 900px;
  overflow-y: auto;
  overflow-x: auto;
}
/* ============================================================================================================
                                              Objective And Scope Part Css
=============================================================================================================== */
#objective{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.object{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05); 
}
.object h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}

/* ============================================================================================================
                                             Editorial Process Part Css
============================================================================================================== */
#editorial-process{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.process{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.process h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.process p{
  margin-top: 15px;
}
.process span{
  color: #218c74;
  font-size: 18px;
  font-weight: 600;
}
.process span i{
  color: #e58e26;
  margin-right: 8px;
}

/* ==============================================================================================================
                                             Author Guidelines Part Css
================================================================================================================ */
#guideline{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.author{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.author h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.author h5{
  color: #218c74;
  font-weight: 500;
}

/* =================================================================================================================
                                            Peer Review Process Part Css
==================================================================================================================== */
#peer{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.peer-review{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.peer-review h6{
  color: #34495e;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(52, 73, 94,0.8);
  display: inline;
}
.peer-review p{
  color: #555555;
  line-height: 26px;
}


/* =========================================================================================================
                                               Privacy Policy Part Css
============================================================================================================ */
#privacy{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.privacy-policy{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.privacy-policy h6{
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background: #295e6a;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.privacy-policy p{
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: justify;
}
.privacy-policy ul li{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 25px;
  line-height: 26px;
  text-align: justify;
}
.privacy-policy ul li i{
  color: #28a745;
  margin-right: 8px;
}

/* =================================================================================================
                                        Copyright Part Css
==================================================================================================== */
#copyright{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}

/* ===============================================================================================
                                        Payment System Part Css
================================================================================================== */
#payment{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.payment-details{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.payment-details .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #6c5ce7;
}
.nav-pills .nav-link{
  color: #34495e;
}
.nav-pills .nav-link i{
  font-size: 35px;
}

/* ======================================================================================================
                                               Join With Us Part Css
======================================================================================================== */
#join{
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  padding: 60px 0;
  position: relative;
}
.join-bg  h6{
  color: #487eb0;
  font-size: 40px;
  font-weight: 600;
}
.join-bg p{
  color: #555555;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

#join-details{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.join-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border-radius: 5px;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-image: linear-gradient(-135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.join-content h6{
  text-align: center;
  color: #6c5ce7;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.join-content label{
  color: #28a745;
  font-size: 16px;
  font-weight: 600;
}
.join-content .form-control:focus{
  border-color: #28a745;
}
.join-content .btn{
  background: #6c5ce7;
  border-color: #6c5ce7;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 15px;
}

/* =================================================================================================
                                     Editorial Workflow Part Css
=================================================================================================== */
#workflow{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.editorial-workflow{
  background: #ffffff;
  padding: 35px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
  border: 1px solid rgba(108, 92, 231,0.15);
}
.editorial-workflow p{
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
}

/* ================================================================================================
                                      View Profile Part Css
=================================================================================================== */
#view-profile{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.profile-content{
  background: #ffffff;
  padding: 35px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.profile-content h5{
  color: #34495e;
  font-size: 24px;
  font-weight: 500;
  background-image: linear-gradient(-120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 10px 20px;
  margin-bottom: 15px;
}
.profile-content p{
  color: #2f3542;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}
.profile-content span{
  color: #28a745;
  font-weight: 600;
  margin-right: 10px;
}
.modal-content{
  padding: 35px;
}

/* =======================================================================================================
                                       Change Password Part Css
========================================================================================================== */
#change-password{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
}
.password{
  background: #ffffff;
  padding: 35px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.05);
}
.password label{
  color: #6c5ce7;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}